__pycache__/
notebooks/.DS_Store
.DS_Store
notebooks/.ipynb_checkpoints/
data/2000/
data/2001/
data/2002/
data/2003/
data/2004/
data/2005/
data/2006/
data/2007/
data/2008/
data/2009/
data/2010/
data/2011/
data/2012/
data/2013/
data/2014/
.ipynb_checkpoints/
.sh
figures/*.pdf
